[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.11.1"
urllib3 = "==1.24.3"
pyyaml = "==5.3.1"
pygithub = "==1.53"
python-gitlab = "==1.14.0"
requests = "==1.2.3"
django = "==3.2"
jinja2 = "==2.10"
waitress = "==1.4.4"
werkzeug = "==0.15.2"

[dev-packages]

[requires]
python_version = "3.10"
